(edif scard  (edifVersion 2 0 0)
    (edifLevel 0)
    (keywordMap (keywordLevel 0))
    (library SCARD
        (edifLevel 0)
        (cell SCARD (cellType generic)
            (view schematic (viewType netlist)
                (contents

                    (net Net1
                        (joined
                            (portRef 112 (instanceRef U2))
                            (portRef 1 (instanceRef U1))
                        )
                    )

                    (net Net2
                        (joined
                            (portRef 111 (instanceRef U2))
                            (portRef 2 (instanceRef U1))
                        )
                    )

                    (net Net3
                        (joined
                            (portRef 108 (instanceRef U2))
                            (portRef 3 (instanceRef U1))
                        )
                    )

                    (net Net4
                        (joined
                            (portRef 107 (instanceRef U2))
                            (portRef 4 (instanceRef U1))
                        )
                    )

                    (net Net5
                        (joined
                            (portRef 112 (instanceRef U1))
                            (portRef 5 (instanceRef U1))
                        )
                    )

                    (net Net6
                        (joined
                            (portRef 96 (instanceRef U1))
                            (portRef 6 (instanceRef U1))
                        )
                    )

                    (net Net7
                        (joined
                            (portRef 94 (instanceRef U1))
                            (portRef 7 (instanceRef U1))
                        )
                    )

                    (net Net8
                        (joined
                            (portRef 92 (instanceRef U1))
                            (portRef 8 (instanceRef U1))
                        )
                    )

                    (net Net9
                        (joined
                            (portRef 90 (instanceRef U1))
                            (portRef 9 (instanceRef U1))
                        )
                    )

                    (net Net10
                        (joined
                            (portRef 88 (instanceRef U1))
                            (portRef 10 (instanceRef U1))
                        )
                    )

                    (net Net11
                        (joined
                            (portRef 86 (instanceRef U1))
                            (portRef 11 (instanceRef U1))
                        )
                    )

                    (net Net12
                        (joined
                            (portRef 82 (instanceRef U1))
                            (portRef 12 (instanceRef U1))
                        )
                    )

                    (net Net13
                        (joined
                            (portRef 80 (instanceRef U1))
                            (portRef 13 (instanceRef U1))
                        )
                    )

                    (net Net14
                        (joined
                            (portRef 79 (instanceRef U1))
                            (portRef 14 (instanceRef U1))
                        )
                    )

                    (net Net15
                        (joined
                            (portRef 78 (instanceRef U1))
                            (portRef 15 (instanceRef U1))
                        )
                    )

                    (net Net16
                        (joined
                            (portRef 77 (instanceRef U1))
                            (portRef 16 (instanceRef U1))
                        )
                    )

                    (net Net17
                        (joined
                            (portRef 74 (instanceRef U1))
                            (portRef 17 (instanceRef U1))
                        )
                    )

                    (net Net18
                        (joined
                            (portRef 72 (instanceRef U1))
                            (portRef 18 (instanceRef U1))
                        )
                    )

                    (net Net19
                        (joined
                            (portRef 70 (instanceRef U1))
                            (portRef 19 (instanceRef U1))
                        )
                    )

                    (net Net20
                        (joined
                            (portRef 69 (instanceRef U1))
                            (portRef 20 (instanceRef U1))
                        )
                    )

                    (net Net21
                        (joined
                            (portRef 65 (instanceRef U1))
                            (portRef 21 (instanceRef U1))
                        )
                    )

                    (net Net22
                        (joined
                            (portRef 106 (instanceRef U2))
                            (portRef 1 (instanceRef U2))
                        )
                    )

                    (net Net23
                        (joined
                            (portRef 105 (instanceRef U2))
                            (portRef 2 (instanceRef U2))
                        )
                    )

                    (net Net24
                        (joined
                            (portRef 104 (instanceRef U2))
                            (portRef 3 (instanceRef U2))
                        )
                    )

                    (net Net25
                        (joined
                            (portRef 103 (instanceRef U2))
                            (portRef 4 (instanceRef U2))
                        )
                    )

                    (net Net26
                        (joined
                            (portRef 102 (instanceRef U2))
                            (portRef 5 (instanceRef U2))
                        )
                    )

                    (net Net27
                        (joined
                            (portRef 101 (instanceRef U2))
                            (portRef 6 (instanceRef U2))
                        )
                    )

                    (net Net28
                        (joined
                            (portRef 98 (instanceRef U2))
                            (portRef 7 (instanceRef U2))
                        )
                    )

                    (net Net29
                        (joined
                            (portRef 97 (instanceRef U2))
                            (portRef 8 (instanceRef U2))
                        )
                    )

                    (net Net30
                        (joined
                            (portRef 85 (instanceRef U2))
                            (portRef 9 (instanceRef U2))
                        )
                    )

                    (net Net31
                        (joined
                            (portRef 82 (instanceRef U2))
                            (portRef 10 (instanceRef U2))
                        )
                    )

                    (net Net32
                        (joined
                            (portRef 79 (instanceRef U2))
                            (portRef 11 (instanceRef U2))
                        )
                    )

                    (net Net33
                        (joined
                            (portRef 75 (instanceRef U2))
                            (portRef 12 (instanceRef U2))
                        )
                    )

                    (net Net34
                        (joined
                            (portRef 74 (instanceRef U2))
                            (portRef 13 (instanceRef U2))
                        )
                    )

                    (net Net35
                        (joined
                            (portRef 72 (instanceRef U2))
                            (portRef 14 (instanceRef U2))
                        )
                    )

                    (net Net36
                        (joined
                            (portRef 71 (instanceRef U2))
                            (portRef 15 (instanceRef U2))
                        )
                    )

                    (net Net37
                        (joined
                            (portRef 69 (instanceRef U2))
                            (portRef 16 (instanceRef U2))
                        )
                    )

                    (net Net38
                        (joined
                            (portRef 68 (instanceRef U2))
                            (portRef 17 (instanceRef U2))
                        )
                    )

                    (net Net39
                        (joined
                            (portRef 66 (instanceRef U2))
                            (portRef 18 (instanceRef U2))
                        )
                    )

                    (net Net40
                        (joined
                            (portRef 65 (instanceRef U2))
                            (portRef 19 (instanceRef U2))
                        )
                    )

                )
            )
        )
    )
) 

